
    td, th{
        background-color: grey;
        color: white;
        padding: 10px;
        text-align: center;
        border: 1px solid #383838;

    }

    table{
        width: 500px;
        text-align: center;
        border-collapse: collapse;
    }

    thead{
        text-align: center;
    }
 